# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Envs
env/
venv/
.venv/

# Streamlit
.streamlit/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Model weights
*.pt
*.h5

# Image cache
assets/results/
